<!DOCTYPE html>
<html lang="en">

<head>
	<title>Starter Template for Bootstrap</title>
	<% include head-frag %>
</head>

<body>
	
	
	<!-- insert the navbar -->
	<% include nav-bar-frag %>	
	<div class="well"></div>

	<!-- set the page size and work out what page to display -->
	<% var pageSize=6 %>
	<% var pageRequested=query.page %>
	<% if (typeof pageRequested === "undefined")pageRequested=1; %>
	<% var startRow=pageSize*(pageRequested-1) %>
	<% var endRow=(content.length < startRow+pageSize ?  content.length : startRow+pageSize) %>
	<% var pages=(Math.ceil(content.length/pageSize)) %>

	
	<div class="container">
		<!-- Single button -->
		<div class="btn-group">
  			<button type="button" class="btn btn-default dropdown-toggle" 
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Content Type<span class="caret"></span>
  			</button>
		  <ul class="dropdown-menu">
			<li><a href="/manage-content/event">Events</a></li>
			<li><a href="/manage-content/community">Community</a></li>
 			<li><a href="/manage-content/vision">Vision</a></li>
 			<li><a href="/manage-content/home">Home</a></li>  
   			<li><a href="/manage-content/hire">Rent</a></li>  
		  </ul>
		</div>
		<div class="table-responsive">
			
			<!-- The New Row Input -->
			<form id="content" class="form-horizontal" method="post">
				<table class="table table-hover">

					<thead>
						<tr>
							<th>Heading</th>
							<th>Content</th>
							<% if (type == 'home') { %>
								<th>Image</th>
							<% } %>
						</tr>
					</thead>
					<tbody>
						<% for(var i=startRow; i<endRow; i++) { %>
							<tr>
								<td>
									<%=content[i].heading %>
								</td>
								<td>
									<%=content[i].content %>
								</td>
								<% if (type == 'home') { %>
									<td>
										<a class="thumbnail">
											<img src="<%=content[i].image %>" class="img-thumbnail" alt="">
										</a>
									</td>
								<% } %>
								<td>
									<a href="/edit-content/<%=content[i].id%>"><span class="glyphicon glyphicon-edit"></span>Edit..</a>
								</td>
								<td>
									<a 	href="#confirmModal" data-toggle="modal" data-target="#confirmModal" 
									   	data-whatever="<%=content[i].id%>" 
									   	data-objid="<%=content[i].id%>"  
									   	data-heading="<%=content[i].heading%>"
										<span class="glyphicon glyphicon-trash"></span>Delete</a>
									<input id="id" name="id" type="text" value="<%=content[i].id%>" class="hide">
								</td>
							<tr>
						<% } %>	

							<tr>

								<td>
									<input id="heading" name="heading" type="text" placeholder="Heading" class="form-control">
								</td>
								<td>
									<input id="content" name="content" type="text" placeholder="Content" class="form-control">
								</td>
								<td>
									<!-- hidden inputs to take post data -->
									<input id="type" name="type" type="text" value="<%=type%>" class="hide">
									<input id="no_img" name="no_img" type="text" value="<%= files.length %>" class="hide">
									<% for(var i=1; i<files.length; i++) { %>
										<input id="file<%i%>" 
											   name="file<%i%>" 
											   value="<%= '/images/HomePageSmall/'+files[i] %>" 
												class="hide">
									<% } %>
								</td>
								<td>
									<button type="submit" class="btn btn-primary btn-sm">Submit</button>
								</td>
							</tr>
					<tbody>
				</table>
				<table class="table table-hover">
					<tbody>		
							<% if (type == 'home') { %>
								<tr>
									<% for(var i=1; i<files.length; i++) { %>
										<td width="<%=(100/files.length)%>%">
											<label class="radio-inline"><input type="radio" name="imageradio<%=i%>">
													<img src="<%= '/images/HomePageSmall/'+files[i] %>" class="img-thumbnail" alt="">
												</label>
											</div>

										</td>
									<% } %>
								</tr>

							<% } %>
					</tbody>
				</table>
			</form>		

		</div>
		


		<!-- pagination control -->
		<% if(content.length > pageSize ) { %>
			<ul class="pagination">
				<% if (pageRequested == 1 ) { %>
					<li class="disabled"><a href="#">&laquo;</a></li>
				<% }else { %>
					<li><a href="?page=<%=pageRequested-1%>">&laquo;</a></li>
				<% } %>
				<% for (var i = 1; i<= pages; i++) { %> 
					<% if (i == pageRequested) { %>
						<li class="active"> <a href="?page=<%= i %>"> <%= i %> </a></li>	
					<% }else{ %>
						<li> <a href="?page=<%= i %>"> <%= i %> </a></li>
					<% } %>
				<% } %>
				
				<% if (pageRequested == pages ) { %>
					<li class="disabled"> <a href="#"> &raquo;</a></li>
				<% }else { %>
					<li><a href="?page=<%=Number(pageRequested)+1%>">&raquo;</a></li>
				<% } %>
			</ul>
		<% } %>
	</div>
	<% include bootstrap-frag %>

	<!--Modal -->
	<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			  	<div class="alert alert-danger" role="alert">
					<h4>Warning
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					</h4>
				</div>
		  </div>
		  <div class="modal-body">
			<form>
			  <h4 class="modal-title" id="confirmModalLabel"></h4>

			  
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="button" class="btn btn-primary">OK</button>
		  </div>
		</div>
	  </div>
	</div>
	<script>
		$('#confirmModal').on('show.bs.modal', function (event) {
	  		var button = $(event.relatedTarget) // Button that triggered the modal
			var recipient = button.data('whatever') // Extract info from data-* attributes
			var objid = button.data('objid') 
			var heading = button.data('heading')

			// Update the modal's content using jQuery
			var modal = $(this)
			modal.find('.modal-title').text('About to delete ' + heading )
			modal.find('.modal-body input').val(recipient)
			//model.find('.modal-body modal-warning').text('About to delete ' + objid )
	})
	</script>

	<!--Modal -->
</body>